@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-bg: #121212;
  --secondary-bg: #1e1e1e;
  --card-bg: #2a2a2a;
  --border-color: #444;
  --primary-text: #e0e0e0;
  --secondary-text: #b3b3b3;
  --esperanto-green: #009933;
  --esperanto-green-hover: #00bf42;
  --font-body: 'Poppins', sans-serif;
  --font-headings: 'Lora', serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--primary-bg);
  color: var(--primary-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 3rem;
  min-height: calc(100vh - 80px); /* Full height minus navbar */
}